doctype html
html
  head
    meta(charset='UTF-8')
    head
      title WEB322 Assignment 1 _ 
      link(rel='stylesheet', href='asgn1.css')
    body
    header
      | WEB 322 Assignment 1
    main
      #rbtn_container
        form#sending(action='http://localhost:3000', method = 'post')
          input#atari(type='radio', name='model', value='atari')
          |  atari 
          br
          input#galaxys8(type='radio', name='model', value='galaxys8')
          |  galaxys8 
          br
          input#ipad(type='radio', name='model', value='ipad')
          |  ipad 
          br
          input#macintoshclassic(type='radio', name='model', value='macintoshclassic')
          |  macintoshclassic 
          br
          input#msx(type='radio', name='model', value='msx')
          |  msx 
          br
          input#tandy_trs80(type='radio', name='model', value='tandy_trs80')
          |  tandy_trs80 
          br
          br
          input(type='submit', value='submit')
      #img_container
        #img-atari.image-rotate
          img#im(src=mysrc, alt='NO IMAGE')
    footer
      | Name: Jin Lee
      br
      | 			Student Number: 123456789
